body{
    background-color: beige;
    font-size: 1.5rem;
}

table{
    position: relative;
    width: 100%;
    text-align: center;
}

table,th,td{
    border:1px solid black;
    justify-content: center;
}
td{
    font-size: 1.2rem;
}